
@{
    ViewBag.Title = "EmptyCart";
}

<div class="main-container col1-layout">
    <div class="main-before-top-container"></div>

    <div class="main container">
        <div class="inner-container">
            <div class="preface"></div>
            <div class="col-main">
                <div class="page-title">
                    <h1>Shopping Cart is Empty</h1>
                </div>
                <div class="cart-empty">
                    <p>You have no items in your shopping cart.</p>

                    <p>Click <a href="/">here</a> to continue shopping.</p>
                </div>
            </div>
        </div>
    </div>
</div>


