
@{
    ViewBag.Title = "NotFound";
}

<div class="main-container col2-right-layout">
    <div class="main-before-top-container"></div>
    <div class="main container">
        <div class="inner-container">
            <div class="preface"></div>
            <div class="col-main grid12-9 grid-col2-main no-gutter">
                <div class="std">
                    <div class="grid12-4">

                        <img src="/images/custom/404.jpg" alt="404 not found" />

                    </div>


                    <div class="grid12-8">

                        <div class="page-title"><h1>Whoops, our bad...</h1></div>
                        <dl>
                            <dt>The page you requested was not found, and we have a fine guess why.</dt>
                            <dd>
                                <ul class="disc">
                                    <li>If you typed the URL directly, please make sure the spelling is correct.</li>
                                    <li>If you clicked on a link to get here, the link is outdated.</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>What can you do?</dt>
                            <dd>Have no fear, help is near! There are many ways you can get back on track with Magento Store.</dd>
                            <dd>
                                <ul class="disc">
                                    <li><a href="#" onclick="history.go(-1); return false;">Go back</a> to the previous page.</li>
                                    <li>Use the search bar at the top of the page to search for your products.</li>
                                    <li>Follow these links to get you back on track!<br /><a href="/">Store Home</a> <span class="separator">|</span> <a href="/account/">My Account</a></li>
                                </ul>
                            </dd>
                        </dl>

                    </div>
                </div>
            </div>
            <div class="col-right sidebar grid12-3 grid-col2-sidebar no-gutter">
                <div class="block block-vertnav hide-below-768">
                    <div class="block-title">
                        <strong><span>Main Categories</span></strong>
                    </div>
                    <div class="block-content">
                        <ul class="accordion accordion-style1 vertnav vertnav-side clearer">             <li class="nav-item level0 nav-1 first parent"><a href="http://ultimo.infortis-themes.com/demo/second2/women.html"><span>Women</span></a><span class="opener"></span><ul class="level0 nav-submenu"><li class="nav-item level1 nav-1-1 first"><a href="http://ultimo.infortis-themes.com/demo/second2/women/sunglasses.html"><span>Sunglasses</span></a></li><li class="nav-item level1 nav-1-2"><a href="http://ultimo.infortis-themes.com/demo/second2/women/shirts.html"><span>Shirts &amp; Tops</span></a></li><li class="nav-item level1 nav-1-3"><a href="http://ultimo.infortis-themes.com/demo/second2/women/designer-tops.html"><span>Designer Tops</span></a></li><li class="nav-item level1 nav-1-4"><a href="http://ultimo.infortis-themes.com/demo/second2/women/blouses.html"><span>Blouses</span></a></li><li class="nav-item level1 nav-1-5"><a href="http://ultimo.infortis-themes.com/demo/second2/women/socks-tights.html"><span>Socks &amp; Tights</span></a></li><li class="nav-item level1 nav-1-6"><a href="http://ultimo.infortis-themes.com/demo/second2/women/going-out.html"><span>Going Out</span></a></li><li class="nav-item level1 nav-1-7 last"><a href="http://ultimo.infortis-themes.com/demo/second2/women/party.html"><span>Party</span></a></li></ul></li><li class="nav-item level0 nav-2 parent"><a href="http://ultimo.infortis-themes.com/demo/second2/fashion.html"><span>Fashion<span class="cat-label cat-label-label1 pin-bottom">New</span></span></a><span class="opener"></span><ul class="level0 nav-submenu"><li class="nav-item level1 nav-2-1 first"><a href="http://ultimo.infortis-themes.com/demo/second2/fashion/tops.html"><span>Tops<span class="cat-label cat-label-label2">Hot!</span></span></a></li><li class="nav-item level1 nav-2-2"><a href="http://ultimo.infortis-themes.com/demo/second2/fashion/bags-purses.html"><span>Bags<span class="cat-label cat-label-label2">Hot!</span></span></a></li><li class="nav-item level1 nav-2-3"><a href="http://ultimo.infortis-themes.com/demo/second2/fashion/shoes.html"><span>Shoes<span class="cat-label cat-label-label1">New</span></span></a></li><li class="nav-item level1 nav-2-4"><a href="http://ultimo.infortis-themes.com/demo/second2/fashion/jewelry.html"><span>Jewelry</span></a></li><li class="nav-item level1 nav-2-5"><a href="http://ultimo.infortis-themes.com/demo/second2/fashion/dresses.html"><span>Dresses</span></a></li><li class="nav-item level1 nav-2-6"><a href="http://ultimo.infortis-themes.com/demo/second2/fashion/lingerie.html"><span>Lingerie</span></a></li><li class="nav-item level1 nav-2-7"><a href="http://ultimo.infortis-themes.com/demo/second2/fashion/coats-jackets.html"><span>Jackets</span></a></li><li class="nav-item level1 nav-2-8 last"><a href="http://ultimo.infortis-themes.com/demo/second2/fashion/swimwear.html"><span>Swimwear</span></a></li></ul></li><li class="nav-item level0 nav-3 parent"><a href="http://ultimo.infortis-themes.com/demo/second2/electronics.html"><span>Electronics</span></a><span class="opener"></span><ul class="level0 nav-submenu"><li class="nav-item level1 nav-3-1 first"><a href="http://ultimo.infortis-themes.com/demo/second2/electronics/smartphones.html"><span>Phones &amp; Tablets</span></a></li><li class="nav-item level1 nav-3-2"><a href="http://ultimo.infortis-themes.com/demo/second2/electronics/phone-accessories.html"><span>Accessories</span></a></li><li class="nav-item level1 nav-3-3 last"><a href="http://ultimo.infortis-themes.com/demo/second2/electronics/cameras.html"><span>Cameras</span></a></li></ul></li><li class="nav-item level0 nav-4 last parent"><a href="http://ultimo.infortis-themes.com/demo/second2/downloadable.html"><span>Digital</span></a><span class="opener"></span><ul class="level0 nav-submenu"><li class="nav-item level1 nav-4-1 first"><a href="http://ultimo.infortis-themes.com/demo/second2/downloadable/ebooks.html"><span>eBooks</span></a></li><li class="nav-item level1 nav-4-2"><a href="http://ultimo.infortis-themes.com/demo/second2/downloadable/themes.html"><span>Themes</span></a></li><li class="nav-item level1 nav-4-3"><a href="http://ultimo.infortis-themes.com/demo/second2/downloadable/music.html"><span>Music</span></a></li><li class="nav-item level1 nav-4-4 last"><a href="http://ultimo.infortis-themes.com/demo/second2/downloadable/software.html"><span>Software</span></a></li></ul></li>        </ul>
                    </div>
                </div>
            </div>
            <div class="postscript"></div>
        </div>
    </div>
</div>


